.QuizForm {
    width: 100%;
    max-width: 750px;
    padding: 0 20px;
}

.QuizForm h1 {
    text-align: center;
    color: white
}

.QuizForm form {
    background: rgb(154, 186, 212);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    margin-bottom: 40px;
}

.QuizForm__buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.QuizForm__nav_buttons,
.QuizForm__action_button {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}

